{# Copyright (c) Microsoft Corporation. All rights reserved. #}

@font-face {
    font-family: FirstRanodmFont;
    src: url({{ font_path | random }});
}

@font-face {
    font-family: SecondRanodmFont;
    src: url({{ font_path | random }});
}

@font-face {
    font-family: ThirdRanodmFont;
    src: url({{ font_path | random }});
}

.section-title {
    font-weight: bold;
    font-size: {{ font_size_title }};
}

.letter-head {
    width: 100%;
    height: 15%;
    font-size: 12px;
    font-family: FirstRanodmFont;
    font-weight: regular;
    border-bottom: 2px solid #000;
    padding: 10px;
    overflow: hidden;
}

.right-head {
    font-family: FirstRanodmFont;
    float: right;
    margin: 0;
    background-color: ;
    width: 40%;
    height: auto;
    text-align: right;
    line-height: 20px;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.center-head {
    float:right;
    background-color: ;
    margin: 0;
    width: 20%;
    height: auto;   
    text-align: center;
    padding-top: 10px;
}

.left-head {
    float:left;
    margin: 0;
    background-color: ;
    width: 40%;
    height: auto;
    text-align: left;
}

.letter-head p {
    margin-top: 0;
}

.addressee {
    margin: 70px 15px 25px 0 ;
    font-weight: Bold;
    font-family: SecondRanodmFont;
    transform: rotate( {{ add_trans_rot }} ); 
    transform: skewY( {{ add_trans_skew }} );
    transform: scale( {{ add_trans_scale }} );
    color: 
}

.logo {
  width: 80%;
  height: 80%;
}

.randomsec1{
    display: flex; 
    flex-direction: {{ [ 'row', 'row-reverse', 'column', 'column-reverse'] | random }}; 
}

.IntPrand {
    margin: 1px 1px 1px 1px ; 
    font-family: ThirdRanodmFont;
    font-size: {{ [ '19px', '15px', '17px' ] | random }};
    font-weight: {{ [ 'Bold', 'Italic' ] | random }};
    color: rgb({{ (range(200, 250)| random, range(200, 250)| random, range(200, 250)| random) }})
    align-items: center

    {# transform: rotate( {{ ['-3deg', '3deg', '0deg' ] | random() }} ); #}
}

.sections {
    text-align: {{ sec_text_align }};
    direction: rtl;
    transfrom: skewY( {{ sec_trans_skewy }} )
}

.signature {
    text-align: {{ sig_text_align }};
    width: 40%;
    height: auto;
}