{# Copyright (c) Microsoft Corporation. All rights reserved. #}


{% extends "base.html.jinja" %}
{%- block style %}
    {% import "macro/dimension.css.jinja" as dimension %}
        {% if (page_size == 0) %}
            {{ dimension.a3_paper() }}
        {% elif (page_size == 1) %}
            {{ dimension.a4_paper() }}
        {% elif (page_size == 2) %}
            {{ dimension.a5_paper() }}
        {% elif (page_size == 3) %}
            {{ dimension.letter_paper() }}
        {% else %}
            {{ dimension.a4_paper() }}
        {% endif %}
    {% import "macro/text.css.jinja" as text %}
        {{ text.set_hyphenation(hyphenate) }}
        {{ text.set_text_align(text_align) }}
    {% import "macro/page_layout.css.jinja" as layout %}
        {{ layout.set_page_num() }}
    {%- include "letter.css.jinja" with context %}
{% endblock style %}

{% block body %}
    <div class="letter-head">

        {% if ( range(1,3) | random == 1) %}
        <div class="right-head">
            </p>
            تاریخ:  {{ range(1390,1401) | random }}/{{ range(1,13) | random }}/{{ range(1,30) | random }}
            </p></p>
            شماره:  {{ range(1000000,9999999) | random }}
            </p></p>
            موضوع: ماده  {{ range(1,121) | random }}
        </div>
        {% endif %}


        {% if ( range(1,3) | random == 1) %}
        <div class="center-head">
            <img src= {{ img_logo }} class="logo">
        </div>
        {% endif %}

        {% if ( range(1,3) | random == 1) %}
        <div class="left-head">
            </p>
            تاریخ:  {{ range(1390,1401) | random }}/{{ range(1,13) | random }}/{{ range(1,30) | random }}
            </p></p>
            شماره:  {{ range(1000000,9999999) | random }}
            </p></p>
            موضوع: ماده  {{ range(1,121) | random }}
        </div>
        {% endif %}

    </div>
    
    <div class="addressee">
        <p>{{ letter_addressee_name }}</p>
        <p>{{ letter_addressee_title }}</p>
    </div>

   {% if content and content.content_type.__str__() == "ContentType.COMPOSITE"%}
        <div class="sections" >
            {% set c = content._content | random %}
            {% if c.content_type.__str__() == "ContentType.TITLE"%}
                <p> {{ c }} </p>
            {% elif c.content_type.__str__() == "ContentType.PARAGRAPH" %}
                <p class="IntPrand"> {{ c }} </p>
                <div class="randomsec1">
                    {% set num_elem= [ 1 , 2 , 3, 4] | random %}
                    {% for elem in range(num_elem)  %}
                        {% set short_content = content._content | random %}
                        <p> {{ short_content }} </p> 
                    {% endfor %}
                </div> 
                <p> {{ c }} </p>
            {% else %}
                <p> Unsupported Content Type: {{c.content_type.__str__()}} </p>
            {% endif %}
        </div>
        <div class="signature">
            <img src={{img_signature}} class="logo">
        </div>
    {% else %}
        <div>
            No content loaded or content is not an instance of CompositeContent Class
        </div>
    {% endif %}
{% endblock body %}